<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - JJOO</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><img src="/wwwroot/img/logoj.JPG" > </li>
                <li><a href="@Url.Action("Historia", "JJOO")">Historia</a></li>
                <li><a href="@Url.Action("Deportes", "JJOO")">Deportes</a></li>
                <li><a href="@Url.Action("Paises", "JJOO")">Países</a></li>
                <li><a href="@Url.Action("AgregarDeportista", "JJOO")">Agregar Deportista</a></li>
                <li><a href="@Url.Action("Creditos", "JJOO")">Créditos</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
